.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.SuggestedContainer{
  background-color: lightgrey;
  opacity: 88%;
  width: 550px;
  height: 500px;
  padding: 30px;
  padding-top: 10px;
  Margin-bottom: 200px;
  Margin-top: 30px;
}

.IngredientsContainer{
  background-color: lightgrey;
  opacity: 88%;
  width: 550px;
  height: 500px;
  padding: 30px;
  padding-top: 10px;
  Margin-bottom: 200px;
  Margin-top: 30px;
  Margin-left: 30px;
}

.IngredientsContainer h3{
 font-size: 30px;
 text-decoration: underline;
}

.SuggestedContainer h3{
 font-size: 30px;
 text-decoration: underline;
}

