@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.wrapper {
	margin:0 auto;
    display:flex;
    justify-content: center;
    background-color: black;
	background-image: url("food2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
}
.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="tel"],
.contactForm textarea,
.contactForm button[type="submit"] {
	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contactForm {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
    display:inline-block;
    width: 40%;
    margin: 90px 90px;
}
.contactForm h3 {
	color: black;
	display:block;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.contactForm h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
    color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
.contactForm label span {
	cursor:pointer;
	color: black;
	display:block;
	margin:5px 0;
	font-weight:900;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="tel"],
.contactForm input[type="url"],
.contactForm textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
.contactForm input[type="text"]:hover,
.contactForm input[type="email"]:hover,
.contactForm input[type="tel"]:hover,
.contactForm input[type="url"]:hover,
.contactForm textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
.contactForm textarea {
	height:100px;
	max-width:100%;
}
.contactForm button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #e43f5a;
	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
	color:#FFF;
	font-size: 17px;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
.contactForm button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.contactForm button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
.contactForm input:focus,
.contactForm textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
   color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}