.footer{
    padding: 1rem;
    background-color:  #1b1b2f;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    color:  #e43f5a;
}

.colOne{
    text-decoration: none;
    list-style-type:none;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.colTwo{
    text-decoration: none;
    list-style-type:none;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.colThree{
    text-decoration: none;
    list-style-type:none;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.footerContainer{
    margin:0;
}